/Herpes/Herpes.Android/bin/Debug/
/Herpes/Herpes.Android/obj/
/.idea/.idea.Herpes/.idea/
/.vs/Herpes/DesignTimeBuild/.dtbcache
/.vs/Herpes/v16/Server/sqlite3/db.lock
/.vs/Herpes/v16/Server/sqlite3/storage.ide
/.vs/Herpes/v16/.suo
/Herpes/Herpes/bin/Debug/netstandard2.0/de-DE/Herpes.resources.dll
/Herpes/Herpes/bin/Debug/netstandard2.0/Herpes.deps.json
/Herpes/Herpes/bin/Debug/netstandard2.0/Herpes.dll
/Herpes/Herpes/bin/Debug/netstandard2.0/Herpes.dll.mdb
/Herpes/Herpes/bin/Debug/netstandard2.0/Herpes.pdb
/Herpes/Herpes/obj/Debug/netstandard2.0/de-DE/Herpes.resources.dll
/Herpes/Herpes/obj/Debug/netstandard2.0/Page/DetailsPage.xaml.g.cs
/Herpes/Herpes/obj/Debug/netstandard2.0/Page/GamePage.xaml.g.cs
/Herpes/Herpes/obj/Debug/netstandard2.0/Page/MainPage.xaml.g.cs
/Herpes/Herpes/obj/Debug/netstandard2.0/TempPE/Resx.AppResources.Designer.cs.dll
/Herpes/Herpes/obj/Debug/netstandard2.0/App.xaml.g.cs
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.AssemblyInfo.cs
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.AssemblyInfoInputs.cache
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.assets.cache
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.csproj.FileListAbsolute.txt
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.csproj.GenerateResource.cache
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.csprojAssemblyReference.cache
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.dll
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.pdb
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.Resx.AppResources.de-DE.resources
/Herpes/Herpes/obj/Debug/netstandard2.0/Herpes.Resx.AppResources.resources
/Herpes/Herpes/obj/Debug/netstandard2.0/XamlC.stamp
/Herpes/Herpes/obj/Herpes.csproj.nuget.cache
/Herpes/Herpes/obj/Herpes.csproj.nuget.dgspec.json
/Herpes/Herpes/obj/Herpes.csproj.nuget.g.props
/Herpes/Herpes/obj/Herpes.csproj.nuget.g.targets
/Herpes/Herpes/obj/project.assets.json
/Herpes/Herpes/obj/project.packagespec.json
/Herpes/Herpes/Page/GamePage.xaml.cs
/Herpes/Herpes/Resx/AppResources.Designer.cs
/Herpes/Herpes/Herpes.csproj.DotSettings.user
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ar/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ca/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/cs/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/da/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/de/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/el/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/es/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/fi/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/fr/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/he/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/hi/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/hr/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/hu/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/id/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/it/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ja/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ko/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ms/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/nb/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/nl/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/pl/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/pt/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/pt-br/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ro/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/ru/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/sk/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/sv/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/th/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/tr/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/uk/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/vi/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/zh-Hans/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/zh-Hant/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/zh-HK/Xamarin.Forms.Platform.iOS.resources.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/GalaSoft.MvvmLight.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/GalaSoft.MvvmLight.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/GalaSoft.MvvmLight.Platform.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Herpes.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Herpes.dll.mdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Herpes.iOS.exe
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Herpes.iOS.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Herpes.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Lottie.Forms.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Lottie.Forms.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Lottie.iOS.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Lottie.iOS.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Rg.Plugins.Popup.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Rg.Plugins.Popup.IOS.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Rg.Plugins.Popup.IOS.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Rg.Plugins.Popup.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Essentials.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Essentials.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Core.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Core.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.iOS.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.iOS.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Xaml.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Xaml.pdb
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/XF.Material.dll
/Herpes/Herpes.iOS/bin/iPhoneSimulator/Debug/XF.Material.pdb
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/actool/_BundleResourceWithLogicalName.items
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/actool/_PartialAppManifest.items
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/coremlc/_BundleResourceWithLogicalName.items
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/coremlc/_PartialAppManifest.items
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/ibtool/_BundleResourceWithLogicalName.items
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/_TelemetryProps
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/Herpes.iOS.csproj.CopyComplete
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/Herpes.iOS.csproj.FileListAbsolute.txt
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/Herpes.iOS.csprojAssemblyReference.cache
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/Herpes.iOS.exe
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/Herpes.iOS.pdb
/Herpes/Herpes.iOS/obj/iPhoneSimulator/Debug/XamlC.stamp
/Herpes/Herpes.iOS/obj/Herpes.iOS.csproj.nuget.cache
/Herpes/Herpes.iOS/obj/Herpes.iOS.csproj.nuget.dgspec.json
/Herpes/Herpes.iOS/obj/Herpes.iOS.csproj.nuget.g.props
/Herpes/Herpes.iOS/obj/Herpes.iOS.csproj.nuget.g.targets
/Herpes/Herpes.iOS/obj/project.assets.json
